# compilateur magique de Logan (vive atom, à bas V-$tudio)
*tcc*

# fichiers à ignorer explicitement avec les noms
.ignore*

# ??
/sprints_1_a_6__in_out.zip
/projet_memo___sprints_1_a_6.pdf

# Fichiers propres à visual studio, inutiles
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/IAP-PJ1.vcxproj.filters
/IAP-PJ1.vcxproj.user
/Debug
/.vs
/x64/Debug


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
/in4.txt
